
    <div class="left img-game"><a href="{{game.url}}"><img src="{{game.data.image}}" alt="game.data.imgAlt" class="left img-game"> <br> <br>
        <h4> {{game.data.title}} </h4>
      </a></div>
  </div> 