---
layout: 'basic.njk'
---
<div class="card" style="height: 100%;" id="quizInfo">
      <h1 class="card-title">
          {{game.data.title}} <br>
          <br>
          <img src="{{game.data.image}}" alt="{{game.data.imgAlt}}"/> <br> <br>
          <p>{{game.data.description}} </p>
          <a class="btn-primary" href="play/{{game.data.id}}/play/">
      </h1>
  </div>