
    <div class="left img-game"> <a href="/play/{{game.data.id}}"><h4> {{game.data.title}} </h4><img src="{{game.data.image}}" alt="game.data.imgAlt" class="left img-game"> <br> <br>
        
      </a></div>
  </div> 