---
layout: 'base.njk'
title: Home
---
<div class="left ml-3">
  <h2 class="ml-3" style="text-align: left;">Discover </h2>
  <hr>
  <div class="display-f">
    {# {%- for post in collections.discover | reverse -%}
    {% include "snippet.njk" %}
    {%- endfor -%} #}

    <div class="left img-game">
       <a href="/play/4545/">
       <h3>The quiz </h3> <br>
      <img src="https://img.icons8.com/color/48/null/true-false.png"/>
       <br> <br>
      </a></div> <br>
          <div class="left img-game">
       <a href="/play/4345/">
       <h3>Noghts and crosses </h3> <br>
      <img src="https://img.icons8.com/external-others-zufarizal-robiyanto/64/000000/external-game-garis-gaming-entertainment-others-zufarizal-robiyanto.png"/>
       <br> <br>
      </a></div> <br>
  </div> 
</div> 
  </div>
  <div class="left ml-3">
    <h2 class="ml-3" style="text-align: left;">For odler children</h2>
    <hr>
    <div class="display-f">
      {# {%- for post in collections.older | reverse -%}
      {% include 'snippet.njk' %}
      {%-endfor-%} #}
                <div class="left img-game">
       <a href="/play/4345/">
       <h3>Dino Jump </h3> <br>
      <img src="https://img.icons8.com/bubbles/50/null/steve-jumping-dino.png"/>
       <br> <br>
      </a></div> <br>
    </div>
  </div>
  <div class="left ml-3">
    <h2 class="ml-3" style="text-align: left;">Younger kids  section</h2>
    <hr>
  <div class="display-f">
    {# {%- for post in collections.young | reverse -%}
    {% include 'snippet.njk' %}
    {%-endfor-%} #}
                  <div class="left img-game">
       <a href="/play/4757/">
       <h3>Table tennis</h3> <br>
      <img src="https://img.icons8.com/emoji/48/null/ping-pong-emoji.png"/>
       <br> <br>
      </a></div> <br>
</div> 
<div class="left ml-3">
    <h2 class="ml-3" style="text-align: left;">Games for all</h2>
    <hr>
  <div class="display-f">
    {# {%- for post in collections.young | reverse -%}
    {% include 'snippet.njk' %}
    {%-endfor-%} #}
              <div class="left img-game">
       <a href="/play/4345/">
       <h3>Noghts and crosses  <br> </h3> <br>
      <img src="https://img.icons8.com/external-others-zufarizal-robiyanto/64/000000/external-game-garis-gaming-entertainment-others-zufarizal-robiyanto.png"/>
       <br> <br>
      </a></div> <br>
                <div class="left img-game">
       <a href="/play/4656/">
       <h3>Jumping platformer </h3> <br>
      <img src="https://img.icons8.com/ios-glyphs/30/null/beach-volleyball.png"/>
       <br> <br>
      </a></div> <br>
</div> 